[submodule "particle"]
	path = particle
	url = https://github.com/keiskey/particle.git
[submodule "instancing"]
	path = instancing
	url = https://github.com/keiskey/instancing.git
[submodule "geometry"]
	path = geometry
	url = https://github.com/keiskey/geometry.git
[submodule "network"]
	path = network
	url = https://github.com/keiskey/network.git
[submodule "glsl"]
	path = glsl
	url = https://github.com/keiskey/glsl.git
[submodule "light"]
	path = light
	url = https://github.com/keiskey/light.git
[submodule "panorama"]
	path = panorama
	url = https://github.com/keiskey/panorama.git
[submodule "loader"]
	path = loader
	url = https://github.com/keiskey/loader.git
[submodule "maya"]
	path = maya
	url = https://github.com/keiskey/maya.git
[submodule "chart"]
	path = chart
	url = https://github.com/keiskey/chart.git
[submodule "multiview"]
	path = multiview
	url = https://github.com/keiskey/multiview.git
