[submodule "particle"]
	path = particle
	url = https://github.com/keiskey/particle.git
[submodule "instancing"]
	path = instancing
	url = https://github.com/keiskey/instancing.git
[submodule "geometry"]
	path = geometry
	url = https://github.com/keiskey/geometry.git
[submodule "network"]
	path = network
	url = https://github.com/keiskey/network.git
[submodule "glsl"]
	path = glsl
	url = https://github.com/keiskey/glsl.git
[submodule "light"]
	path = light
	url = https://github.com/keiskey/light.git
[submodule "panorama"]
	path = panorama
	url = https://github.com/keiskey/panorama.git
[submodule "loader"]
	path = loader
	url = https://github.com/keiskey/loader.git
[submodule "maya"]
	path = maya
	url = https://github.com/keiskey/maya.git
[submodule "chart"]
	path = chart
	url = https://github.com/keiskey/chart.git
[submodule "multiview"]
	path = multiview
	url = https://github.com/keiskey/multiview.git
[submodule "homography"]
	path = homography
	url = https://github.com/keiskey/homography.git
[submodule "opencv"]
	path = opencv
	url = https://github.com/keiskey/opencv.git
[submodule "vimeo"]
	path = vimeo
	url = https://github.com/keiskey/vimeo.git
[submodule "pool"]
	path = pool
	url = https://github.com/keiskey/pool.git
[submodule "capture"]
	path = capture
	url = https://github.com/keiskey/capture.git
[submodule "storage"]
	path = storage
	url = https://github.com/keiskey/storage.git
[submodule "bookmarklet"]
	path = bookmarklet
	url = https://github.com/keiskey/bookmarklet.git
[submodule "chrome"]
	path = chrome
	url = https://github.com/keiskey/chrome.git
[submodule "motion"]
	path = motion
	url = https://github.com/keiskey/motion.git
[submodule "controller"]
	path = controller
	url = https://github.com/keiskey/controller.git
[submodule "color"]
	path = color
	url = https://github.com/keiskey/color.git
[submodule "dmx"]
	path = dmx
	url = https://github.com/keiskey/dmx.git
[submodule "scorer"]
	path = scorer
	url = https://github.com/keiskey/scorer.git
[submodule "scorer-v1"]
	path = scorer-v1
	url = https://github.com/keiskey/scorer-v1.git
[submodule "calendar"]
	path = calendar
	url = https://github.com/keiskey/calendar.git
[submodule "streaming"]
	path = streaming
	url = https://github.com/keiskey/streaming.git
