doctype
html(lang="ja")
  head
    meta(charset="UTF-8")
    title= title
    link(rel="stylesheet", href="../css/reset.css")
    link(rel="stylesheet", href="../css/main.css")
    script(src="../js/lib/dat.gui.min.js")
    script(src="../js/lib/three.min.js")
    script(src="../js/lib/controls/TrackballControls.js")
    script(src="js/_template.js")
  body
    h1(style="display: none")= title
