doctype
html(lang="ja")
  head
    meta(charset="UTF-8")
    title
    //- link(rel="stylesheet", href="../css/reset.css")
    //- link(rel="stylesheet", href="../css/main.css")
    script(src="js/main.js")
  body
    #wrapper
