@import "nib"
@import "_config"

global-reset()
reset-html5()

body
	background #fff
	color #000
	font-family 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif  // IEはカンマ区切りのみ対応
	-webkit-text-size-adjust: none;
	line-height 1.1
	// font-smoothing antialiased  // デフォルトは、subpixel-antialiased
	-moz-osx-font-smoothing grayscale
	text-rendering optimizeLegibility

em
	font-weight bold

a
	color #009
	text-decoration none
	&:hover
		text-decoration underline

button
	reset-box-model()
	reset-font()
	background: transparent;
	-webkit-appearance: none;  // 追加
